/*
 * Base consists of all the base rules.
 * These base rules are the defaults and are almost exclusively single element selectors.
 * Essentially, a base style says that wherever this element is on the page, it should look like this.
 */
/*
 * Constants contains all the continuously reoccuring values for the mark-up.
 * What defines a constant is that it is used throughout the layout of the application, consistently.
 */
.regular-text {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: normal;
}
*,
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: normal;
  color: #2b3a42;
  font-size: 16px;
}
h1 {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: normal;
  font-size: 68px;
  margin: 0 0 48px 0;
  text-align: center;
}
h2 {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: normal;
  font-size: 26px;
  margin: 0 0 12px 0;
}
p {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 12px 0;
}
pre {
  display: inline;
}
ul {
  padding: 0 0 10px 20px;
}
/*
 * Layout rules divide the page into sections.
 * Each layout section is holding one or more modules together.
 * Layout elements usually consistent throughout the application.
 */
.home {
  background-color: #f1f1f1;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  margin: 0 auto;
  padding: 40px 0 20px 0;
  width: 888px;
}
.home .copy {
  color: #cccccc;
  text-align: right;
  padding: 20px 40px 0 0;
}
.content {
  padding: 0 140px 40px 140px;
  border-bottom: 1px solid #cccccc;
}
/*
 * Modules are the reusable, modular parts of the design like sidebar sections, the product lists, the pop-ups, the alerts, the menu bars, the banners and so on...
 * When this file grows big (e.g. > 250 lines) it is a good practice to separate modules into individual scss files.
 */
.flag {
  background: url("../../assets/example.png") no-repeat top left;
  height: 127px;
  margin: 0 auto;
  width: 100px;
}
.slogan .small {
  display: none;
}
/*
 * State rules describe how modules and layouts will look in a particular state.
 *      Hidden buttons, expanded or collapsed paragraphs, an active menu item and so forth...
 * A state is something that augments and/or overrides other styles.
 * States are generally applied to elements that (can) change after the page is loaded.
 */
