<div class="board">
    <h1>Board</h1>
    <div class="columns">
        <div class="column">
            <div class="heading">Open</div>
            <div class="items">
                <div class="item">
                    <div class="heading">
                        <div class="title">Make more examples</div>
                        <div class="assignee">P.A.</div>
                    </div>
                    <div class="labels">
                        <div class="label">Test</div>
                        <div class="label">Test 2</div>
                    </div>
                    <div class="project">
                        <img src="./assets/example.png" alt="project logo" title="VanillaKit icon" />
                    </div>
                </div>
                <div class="item">
                    <div class="heading">
                        <div class="title">Add ways to mock data objects</div>
                        <div class="assignee">P.A.</div>
                    </div>
                    <div class="labels">
                        <div class="label">Test</div>
                    </div>
                    <div class="project">
                        <img src="./assets/example.png" alt="project logo" title="VanillaKit icon" />
                    </div>
                </div>
                <div class="item">
                    <div class="heading">
                        <div class="title">Add more tests</div>
                        <div class="assignee">P.A.</div>
                    </div>
                    <div class="labels">
                    </div>
                    <div class="project">
                        <img src="./assets/example.png" alt="project logo" title="VanillaKit icon" />
                    </div>
                </div>
                <div class="item">
                    <div class="heading">
                        <div class="title">Create dynamic routing based on session based variables</div>
                        <div class="assignee">P.A.</div>
                    </div>
                    <div class="labels">
                        <div class="label">Test</div>
                        <div class="label">Test 2</div>
                    </div>
                    <div class="project">
                        <img src="./assets/example.png" alt="project logo" title="VanillaKit icon" />
                    </div>
                </div>
                <div class="item">
                    <div class="heading">
                        <div class="title">A very long item title that has probably to much information but is required to test and design the UI and determine the correctness of its scaling</div>
                        <div class="assignee">P.A.</div>
                    </div>
                    <div class="labels">
                        <div class="label">Test 2</div>
                    </div>
                    <div class="project">
                        <img src="./assets/example.png" alt="project logo" title="VanillaKit icon" />
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="heading">In progress</div>
            <div class="items"></div>
        </div>
        <div class="column">
            <div class="heading">Review</div>
            <div class="items"></div>
        </div>
        <div class="column">
            <div class="heading">Done</div>
            <div class="items"></div>
        </div>
    </div>
</div>