<div class="content">
    <h1>base-ff</h1>

    <p>Base-ff stands for base front-end framework.
        This project is a starter project for front-end applications</p>

    <h2>Why this project?</h2>
    <p>There are many front-end frameworks, from heavy fully loaded frameworks like `angular` and `ember` to smaller
        frameworks like `react` and `knockout`.
        The main reason why all these frameworks exist, is to solve a problem that Javascript, HTML and CSS themselfs,
        did
        not offer solutions for.<br>
        Since the development of all the frameworks HTLM, CSS and Javascript have come a long way into fixing issues and
        providing solutions that were not available before.
        This significantly decreases the significance of frameworks and provides a way to opt-out of the opiniated
        framework
        way of working and often times strict rules.</p>

    <p>What is more, no framework is perfect, all frameworks have things they do well and things they do not do well.
        For a long time this has been a valuable trade since what the frameworks do well, where drasticly more
        benificial
        then the drawbacks they had.</p>

    <p>Now with many big issues in Javascript fixed and features like modules (2015), objects (2016-2019), async
        functions
        (2018), import (2020), class fields (2021), class static block (2021), and much much more....
        The trade-off between framework and plain is not as evident any more.</p>

    <p>Another thing to take in consideration is the extreme speed in which Javascript libraries tend to be updated,
        deprecated and deleted. Adding to the already huge stream of dependencies being put in node_modules every
        install.
        With dependencies being depend on others which in turn frequently break the framework when not upgraded in time,
        to
        early or not all at once.</p>

    <p>This project takes the stance that at some point in the future, frameworks are out and plain is back in.
        Plain, but with those things added that bring usefull functionality when required.</p>

    <h2>What is in the project?</h2>

    <p>This project offers a basic setup for a front-end applications with all the clutter taken out.
        What remains are the essentials that provide benefit without drawbacks and without impeding in working with
        Javascript, HTLM and CSS that include newer functionality.</p>

    <p>The following is in this project:</p>
    <ul>
        <li>
            css-loader
            <ul>
                <li>
                    <i>allows chaining of css loader steps</i>
                </li>
            </ul>
        </li>
        <li>
            mini-css-extract-plugin
            <ul>
                <li>
                    <i>extracts CSS into separate files</i>
                </li>
            </ul>
        </li>
        <li>
            css-minimizer-webpack-plugin
            <ul>
                <li>
                    <i>minimizes css</i>
                </li>
            </ul>
        </li>
        <li>
            style-loader
            <ul>
                <li>
                    <i>injects CSS into the DOM</i>
                </li>
            </ul>
        </li>
        <li>
            less
            <ul>
                <li>
                    <i>integrates .less in the project and allows compiling of .less files</i>
                </li>
            </ul>
        </li>
        <li>
            less-loader
            <ul>
                <li>
                    <i>less loader for webpack</i>
                </li>
            </ul>
        </li>
        <li>
            html-loader
            <ul>
                <li>
                    <i>exports html as string allowing it to be imported where required, this also allows HTML to be
                        minimized</i>
                </li>
            </ul>
        </li>
        <li>
            html-webpack-plugin
            <ul>
                <li>
                    <i>simplifies creation of HTML files to serve your webpack bundles</i>
                </li>
            </ul>
        </li>
        <li>
            webpack
            <ul>
                <li>
                    <i>module bundler</i>
                </li>
            </ul>
        </li>
        <li>
            webpack-cli
            <ul>
                <li>
                    <i>command line interface</i>
                </li>
            </ul>
        </li>
        <li>
            webpack-dev-server
            <ul>
                <li>
                    <i>development server</i>
                </li>
            </ul>
        </li>
    </ul>

    <h3>Why .less?</h3>

    <p>Less is amazing, its small and adds to CSS what it is missing and does so in a way that it does not impede with
        development practises.
        SASS was amazing up to a point where strange decisions where being made that forced the developer in an odd way
        of working.</p>
    <p>The facing out of @import which could be used once, as you would expect, to replace it with @use/@include which
        causes the developer to continuously look for where some css resides, add a @use from there use @include to use
        it. Then try to name it, rename it or figure out what name it has been given to use it agian. Then also the
        @forward
        is added and @extend and more... without keeping support for @import alive. There is no global scope anymore...
    </p>

    <p>A tool should make working with something (in this case CSS) easier, not more complicated.</p>

    <h2>What is with all the style folders?</h2>

    <p>The style folders take the (somewhat old fashioned) <a href="http://smacss.com" target="_self">SMACCS</a>
        approach to structuring CSS.
        This has been the most succesful way of working so far. <br>
        The project advises against single-file components and suggest strongly separation of concern.</p>

    <h2>How to use this?</h2>

    <p>Checkout, replace all
    <pre>`replace-with`</pre> in the code, replace favicon.ico,
    <pre>npm install/run</pre> and happy coding.</p>

    <p>The HTML, CSS, Javascript will be optimized and minimized.<br>
        The assets (images, fonts etc..) will be encoded and packaged.</p>

    <h2>Note about experience</h2>

    <p>For an experienced engineer this project provides everything required, for a more junior engineer the stricter
        rules
        of an opiniated framework might be more suited.<br>
        Since strict frameworks allow you to follow dictated steps to achieve something and requires less experience.
    </p>
</div>