/*
 * Constants contains all the continuously reoccuring values for the mark-up.
 * What defines a constant is that it is used throughout the layout of the application, consistently.
 */

@color-primary: #2b3a42;
@color-secondary: #f1f1f1;
@color-tertiary: #cccccc;
@color-quaternary: #f6f8fa;
@color-quinary: #007acc;
@color-septary: #2a3bcf;

@color-project-1: #3d32d0;
@color-project-2: #7068e0;
@color-project-3: #919e19;
@color-project-4: #c7d63d;
@color-project-5: #9e1919;
@color-project-6: #ce4343;

@color-white: #ffffff;

.regular-text {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: normal;
}